# files that are common outputs from the benroywillis/TraceAtlas git repository
*.bc*
*.ll
*.bin
*.native
*.elf*
*.exec
BlockInfo_*
kernel_*
Instance_*
*.dot
*.gcda
*.gcno
*.obj
# open vi sessions
*.swp

# generated halide source files
*generated*
