# files that are common outputs from the benroywillis/TraceAtlas git repository
*tmp*
*.bc*
*.ll
*.bin
*.native
*.elf*
*.exec
Loopfile*
BlockInfo*
kernel_*
Instance_*
SourceMap_*
*.dot
*.gcda
*.gcno
*.gcov
*.obj
DashAutomate.log
# open vi sessions
*.swp
# generated halide source files
*generated*
# nohup history
nohup.out
# output data files that come from PERFECT apps
*_output.*
# llvm-polly scop files
*.jscop
